* {
    margin: 0;
    padding: 0;
    color: rgb(9, 221, 9);
    text-shadow: 0px 0px 2px rgb(0, 255, 0);
    overflow: hidden;
}

#footer {
    display: none;
}

#mobile-footer {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    height: fit-content;
    overflow: hidden;
    word-wrap: none;
}

#root {
    display: flex;
    flex-direction: column;
}

#screen {
    position: sticky;
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 1.5;
    border-top: 5px solid rgba(34, 34, 34, 0.815);
    border-bottom: 5px solid rgba(77, 77, 77, 0.815);
    border-left: 5px solid rgba(37, 37, 37, 0.815);
    border-right: 5px solid rgba(37, 37, 37, 0.815);
    outline: 20px solid rgb(155, 145, 110);
    margin: 20px;
    height: 85vh;
    overflow-y: auto;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.25em;
    line-height: 1.75;
    width: fit-content;
}

#skills {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 1px;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 15px;
    background-color: rgb(0, 0, 0);
}

#project-list {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

#project-list a {
    font-size: 1.5em;
}

.project img {
    width: 100%;
}

#project-link {
    margin: 10px;
    font-size: 2em;
}

#resume {
    width: 100px;
    height: 150px;
    filter:brightness(60%);
}

img {
    width: 60%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
}

.modal {
    position: absolute;
    height: 120%;
    width: 100vw;
    background-color: black;
    visibility: visible;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

#cli {
    display: none;
}

#input {
display: none;
}

#output {
    display: none;
}

#pc {
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    background-color: rgb(155, 145, 110);
    height: 10vh;
    width: 100vw;
}

#power {
    display: flex;
    gap: 10px;
}

#power button {
    width: 20vw;
    height: 5vh;
    margin-bottom: 10px;
}

#on-off {
    width: 75px;
    height: 40px;
    background-color: rgb(185, 185, 138);
    color: black;
    font-weight: bold;
    font-size: 1em;
    border:2px solid black;
    box-shadow: 0px 0px 3px .5px black;
    text-shadow: none;
    cursor: pointer;
}

#off {
    background-color: rgb(255, 0, 0);
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 3px rgba(253, 0, 0, 0.692);
}

#on {
    background-color: rgb(0, 255, 0);
    width: 10px;
    height: 10px;
    margin-top: 10px;
    border-radius: 100%;
    box-shadow: 0px 0px 3px 4px rgba(0, 255, 0, 0.356);
}

#floppy {
    width: 10em;
    height: 10px;
    background-color: black;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 10px;
    font-size: 1.25em;
    margin-bottom: 10px;
    padding-top: 5px;
    outline: none;
}

.nav-link {
    cursor: pointer;
    outline: none;
}
